<div class="container">
    <div class="sidebar">
      <!-- Add your sidebar content here -->
      <h2>Sidebar</h2>
      <p>This is a sidebar.</p>
    </div>
    <div class="main-content">
      <h1>Dobro dosli!</h1>
      <p>Pocetna stranica WebShop.</p>
      <div class="product-grid">
        <div *ngFor="let product of products">
          <app-product-card [productId]="product.id!"></app-product-card>
        </div>
      </div>
      <div class="paginator-bottom">
        <div class="paginator">
        <button (click)="goToPreviousPage()" [disabled]="filters.page === 0">Prethodna</button>
      
        <span>Page {{ filters.page + 1 }} of {{ totalPages() }}</span>
      
        <button (click)="goToNextPage()" [disabled]="filters.page >= totalPages() - 1">Sljedeća</button>
        <span>Veličina stranice: </span>
        <select [(ngModel)]="filters.size" (change)="loadProducts()">
          <option [value]="16">16</option>
          <option [value]="24">24</option>
          <option [value]="40">40</option>
        </select>
      </div>
    </div>  
    </div>
  </div>